/* @import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900");
body {
  font-family: "Titillium Web", sans-serif;
  margin: 0 auto;
} */

.rect-auto {
    clip: rect(auto, auto, auto, auto);
}

.c100 .bar {
    position: absolute;
    border: 0.04em solid #000000;
    width: 0.92em;
    height: 0.92em;
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: 50%;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.c100 {
    position: relative;
    font-size: 160px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: auto;
    background-color: #3a3838;
}

.c100 p {
    margin-top: -55px;
    font-size: 20px;
    /* line-height: 42px; */
    color: #ffffff;
    font-family: "Work Sans";
    font-weight: 600;
}

.c100 img {
    margin-top: 37px;
}

.c100 *,
.c100 *:before,
.c100 *:after {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.c100>span {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    width: 5em;
    line-height: 5em;
    font-size: 0.2em;
    color: #3c4761;
    display: block;
    text-align: center;
    white-space: nowrap;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.c100:after {
    position: absolute;
    top: 0.04em;
    left: 0.04em;
    display: block;
    content: " ";
    border-radius: 50%;
    background-color: #222b3a;
    width: 0.92em;
    height: 0.92em;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.c100 .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0em, 1em, 1em, 0.5em);
}

.c100:hover {
    cursor: default;
}

.c100.blue .bar,
.c100.blue .fill {
    border-color: #30bae7 !important;
}

.c100.blue:hover>span {
    color: #3c4761;
}

.c100.pink .bar,
.c100.pink .fill {
    border-color: #d74680 !important;
}

.c100.pink:hover>span {
    color: #3c4761;
}

.c100.green .bar,
.c100.green .fill {
    border-color: #15c7a8 !important;
}

.c100.green:hover>span {
    color: #3c4761;
}

.c100.orange .bar,
.c100.orange .fill {
    border-color: #eb7d4b !important;
}

.c100.orange:hover>span {
    color: #3c4761;
}